h1{
    color:blue;
    text-align: center;
}
p{
    font-family: Arial;
}
.bg{
    width:100%;
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bar{
    display:flex;
    padding: 10px;
    justify-content: space-between;
}


.b1{
    margin-right: 15;
    background-color: #5fb7fa;
    border-radius: 5px;
    border: none;
    height: 25px;
    width:70px;
    
}

.tag{
    text-align: center;

    color: brown;
    font-family: tahoma;
}
.button1{
    color:white;
    background-color: orangered;
    border:none;
    height: 30px;
    width:125;
    border-radius: 5px;

}
.div1{
    background-color: orange;
    color: white;
    font-family: verdana;
    height:200px;
    width:100%;
    
}
.p1{
    padding-left: 50px;
    padding-top: 50px;
    font-size: 20;
}
